# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

# Virtual Environment
venv/
ENV/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log


# Database
*.sqlite3
*.db

# Uploads
backend/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 
Humle*